// Sub theme styling.
@import "variables_drupal";

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import "variables_bootstrap";

// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";
body {
    max-width: 1440px;
}
.d-flex {
    margin: 0 auto;
    width: 100%;
}
header {
    background-color: bisque;
}
.navbar {
    &-brand {
        .site {
            &-logo {
                width: 150px;
                img {
                    width: 75%;
                    height: 75%;
                }
            }
            &-title {
                font-size: 45px;
                opacity: 0.6;
            }
        }
    }
}
.nav-item{
    color: transparent;
}
.region-nav-additional{
    .nav-item{
        a{
            color: black;
        }
    }
    #edit-submit{
        background-color: black;
        opacity: 0.6;
    }
}
.page-title{
    line-height: 3;
    font-size: 4rem;
    font-family: cursive;
}
.block-system-main-block{
    font-size: 2rem;
    color: cadetblue;
    opacity: 0.6;
}
.region-footer{
    display: flex;
    flex-direction: row !important;
    align-items: center;
}