// Sub theme styling.
@import "variables_drupal";

// Bootstrap overriden variables.
// @see https://getbootstrap.com/docs/5.1/customize/sass/#variable-defaults.
@import "variables_bootstrap";

// Include bootstrap.
@import "../../../../themes/contrib/bootstrap5/scss/style";
body {
    max-width: 1440px;
}
.d-flex {
    margin: 0 auto;
    width: 100%;
}
header {
    background-color: bisque;
}
.navbar {
    &-brand {
        .site {
            &-logo {
                width: 150px;
                img {
                    width: 75%;
                    height: 75%;
                }
            }
            &-title {
                font-size: 45px;
                opacity: 0.6;
            }
        }
    }
}
.nav-item {
    color: transparent;
}
.region-nav-additional {
    .nav-item {
        a {
            color: black;
        }
    }
    #edit-submit--2 {
        background-color: black;
        opacity: 0.6;
    }
}
.page-title {
    line-height: 3;
    font-size: 4rem;
    font-family: cursive;
    opacity: 0.6;
}
.block-system-main-block {
    font-size: 2rem;
    color: cadetblue;
    opacity: 0.6;
}
.region-footer {
    display: flex;
    flex-direction: row !important;
    align-items: center;
    color: cadetblue;
    a {
        color: black;
        opacity: 0.6;
        text-decoration: none;
    }
}
form {
    label {
        font-size: 2rem;
        font-weight: 500;
        line-height: 2;
    }
    #edit-name {
        width: 35%;
        height: 50px;
        border: 3px solid #ced4da;
        &--description {
            font-size: 1rem;
            color: red;
            opacity: 0.6;
        }
    }
    #edit-submit {
        width: 35%;
        height: 50px;
        margin-top: -5px;
        background-color: cadetblue;
        opacity: 0.6;
        border-color: black;
    }
}
